$color-de-fondo: #fef3fd; 
body {
    background-color: $color-de-fondo;
    align-content: center;
}

.boton {
    &hover {
    color: white;
    background-color: gray;

}
}
.boton { 
    &active {
    color: #F691AC;
    background-color: white;
}
}
form {
    input{
        &focus {
    border: 1px solid #F691AC;

}
    }
}



#carouselExampleIndicators {
    margin: 40px;
    border: 5px solid gray;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.px-wide {
    width: 400px;
    margin: auto;
}
    
    