
$color-de-header: #FFCFD8; 

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    display: inline-block;
    width: 100%;
    position: sticky;
    top: 0px;
        ul {
        display: flex;
        align-items: right;
        list-style-type: none;
        display: flex;

        }
 
        a {
        color: white;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        margin: 15px;
        text-align: center;
        }
    
        li {
        margin: 15px 15px
        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            margin: 15px;
            text-align: center;
            font-family: monospace;
            font-size: 10px;
        }
    }
    
       
    
    
 

}

.navbar{
    background-color: $color-de-header;
    text-decoration: none;
    position: sticky;
    top: 0px;
    height: 50px;
    a {
        font-size: 10px;
        position: relative;
        top: 10px;
    }

}














    






        




/* TABLET 768PX */

@media only screen and (min-width: 426px) (max-width: 768px) {
   
    
}




@media only screen and (min-width: 1024px) {

}



