.imgluna {
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 20px; 
    transition: 3s;
    &hover{
        border-radius: 50%;
        transform: rotate(360deg);
    }

}

.imgperfil {
    border: 2px solid gray;
    height: 20px;
    border-radius: 50%; 
    margin-left: 10px;
   
}

.imgperfil{
    position: relative;
    top: 40px; 
    right: 40px;
}

.imglogo {
    border-radius: 50%;
    height: 150px;
    padding: 20px;
    margin-bottom: 2cm;
    margin-left: 1cm;
    display: inline;
    transform: translate(-20px, 1px );

}

.imgred {
    border-radius: 0%;
    height: 40px;
    position: relative;
    top: 19px;

}

.imgtiktok
{
    @extend .imgred

}

.imgwa {
    height: 41px;
    position: fixed;
    top 30px;
    bottom: 40px;
    right: 20px;
       
}

.imgcarta {
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.imgyo {
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 5px;
    

}
