

h1 {
    color: #565656;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 3.8rem;
    background-image: radial-gradient(250px 100px, lightblue, pink);
}

h2 {
    color: gray; 
    text-align: center;
    font-style: italic ;
    

}
h6 {
    color: #F691AC; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    line-height: 2;
    font-size: 1rem;
}

p {
    text-align: center; color: #565656; font-family: 'Courier New', Courier, monospace;
}

h1 span {
    color: #F691AC;
}