
@mixin estilostexto ($family, $size, $weight, $color){
    font-family: $family;
    font-size: $size; 
    font-weight: $weight; 
    color: $color;
}
h1 {
    @include estilostexto('Times New Roman', 3.8rem, bold, #565656)
    text-align: $align center; 
    background-image: $gradient radial-gradient(250px 100px, lightblue, pink);
    &hover {
        color: black;
    }
    span {
        color: #F691AC;
        &hover {
            color: black;
        }
}
}


h2 {
    color: gray; 
    text-align: center;
    font-style: italic ;
    

}
h6 {
    @include estilostexto('Courier New', 1rem, none, #F691AC)
    text-align: center;
    line-height: 2;
}

p {
    @include estilostexto('Courier New', 1rem, none, #565656)
    text-align: center; 
}

a {
    &hover {
    color: #565656;
}

}
